{% do view.registerAssetBundle(
    'GlueAgency\\MediaHaven\\AssetBundles\\MediaHavenFieldBundle'
) %}

<div id="{{ id }}">
</div>

{% set jsSettings = {
    id: namespacedId,
} %}

{% js %}
    new initializeMediaHavenField({{ jsSettings|json_encode|raw }});
{% endjs %}
