{% do view.registerAssetBundle(
    'GlueAgency\\MediaHaven\\AssetBundles\\MediaHavenFieldBundle'
) %}

<div id="{{ id }}">
    <input type="hidden" name="{{ name }}">
    <div class="btn add icon dashed js-add-mediahaven-asset">Add a MediaHaven asset</div>
    {# Craft's Modal will move this element to the bottom of the page. #}
    <div class="modal elementselectormodal js-mediahaven-modal" style="display: none;">
        <div class="js-mediahaven-app-{{ namespacedId }}"></div>
    </div>
</div>

{% set jsSettings = {
    name: namespacedName,
    id: namespacedId,
} %}

{% js %}
    new MediaHavenField({{ jsSettings|json_encode|raw }});
{% endjs %}
